torch
torchvision
torchaudio
torchgeometry
torchmetrics
accelerate
datasets
transformers
orjson
hydra-zen
torchtyping
wandb
rich
opencv-python
scipy
scikit-learn
decord
kaggle
natsort
evaluate
huggingface_hub
einops
git+https://github.com/huggingface/pytorch-image-models.git
fire
git+https://github.com/kiyoon/GulpIO2#egg=gulpio2
